<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>お問い合わせフォーム</title>
    <link rel="stylesheet" href="./css/style.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    <header>

    </header>
    
    <% if (typeof successMessage !== 'undefined' && successMessage) { %>
        <div id="toast" class="toast">
            <%= successMessage %>
        </div>
    <% } %>

    <main>
        <h1>お問い合わせ</h1>

        <form action="/submit" method="POST" id="contactForm">
            <div>
                <label for="name">お名前:</label>
                <input type="text" id="name" name="user_name">
            </div>
            <div>
                <label for="Birthday">生年月日:</label>
                <div class="data-select-wrapper">
                    <select id="selectYear"><option value="">--</option></select>年
                    <select id="selectMonth"><option value="">--</option></select>月
                    <select id="selectDay"><option value="">--</option></select>日
                </div>

                <input type="hidden" id="hiddenBirthday" name="user_birthday" value="">
            </div>
            <div>
            <label for="title-address">住所</label>
            <div class="address-form-container">
                    
                    <div class="form-group"> 
                        <label for="zipcode">郵便番号(7桁)</label>
                        <div class="zipcode-wrapper">
                            <input type="text" id="zipcode" name="user_zipcode" maxlength="7" placeholder="1000001">
                            <button id="searchBtn" type="button">住所検索</button>
                        </div>
                        <span id="errorMsg" class="error-text"></span>
                    </div>

                <div class="form-group">
                        <label for="prefecture">都道府県</label>
                        <input type="text" id="prefecture" name="user_prefecture" placeholder="東京都" readonly>
                </div>
                <div class="form-group">
                    <label for="city">市区町村</label>
                    <input type="text" id="city" name="user_city" placeholder="千代田区" readonly>
                </div>
                <div class="form-group">
                    <label for="address">番地・建物名</label>
                    <input type="text" id="address" name="user_street" placeholder="千代田1-1">
                </div>
            </div>
            </div> 
            <div>
                <label for="email">メールアドレス:</label>
                <input type="email" id="email" name="user_email">
            </div>
            <div>
                <label for="message">お問い合わせ内容:</label>
                <div class="input-group-vertical">
                    <textarea id="message" name="user_message"></textarea>
                    <span id="messageError" class="error-text"></span>
                </div>
            </div>
            <div>
                <button type="submit">送信</button>
            </div>
        </form>
        <div class="admin-link">
            <button onclick="window.location.href='/admin'">管理者画面</button>
        </div>
    </main>
    <footer>

    </footer>
    <script src="./js/dateSelect.js"></script>
    <script src="./js/addressSearch.js"></script>
    <script src="./js/formVaridation.js"></script>
</body>
</html>