body {
    background-color: #ffffff;
}

table{
    width: 100%;
    border-collapse:collapse;
    margin-top:20px;
}
th, td{
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
}
th{
    background-color: rgb(241, 165, 65);
    font-weight: bold;
}
/* 偶数(even)行目の背景色を変える */
tr:nth-child(even) {
    background-color: #f9f9f9;
}