body{
    background-color: cadetblue;
    font-family: sans-serif;
}

body h1{
    color: white;
    text-align: center;
}

form{

    max-width: 600px;
    margin : 0 auto;
    padding : 20px;

    background-color:white;
    border-radius: 8px;
}

form div{
    margin-bottom: 15px;
    display: flex;       /* 子要素を横並びにする */
    align-items: center; /* 上下の位置を中央揃えに */
}

body label{
    font-size: 20px;
    width:200px;
    margin-right:10px;
    flex-shrink: 0;
}

form input[type="text"],
form input[type="email"],
form input[type="data"],
form textarea{
    flex:1;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

form select{
    height: 40px;
    font-size:16px;
}

#message{
    height: 100px;
    resize: vertical;
}

div button{
    font-size: 18px;

    width:100%;

    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

div button:hover{
    background-color: #0056b3;
}
form div:has(textarea){
    align-items: flex-start;
}
.admin-link{
    margin-top: 30px;
    margin-bottom: 15px;
}

.admin-link button{
    font-size: 18px;
    width: 100%;
    padding: 12px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.admin-link button:hover {
    background-color: #5a6268;
}